.main-nav{
    display: flex;
    ul{
        -webkit-padding-start: 0px;
    }
    li{
        list-style-type: none;
        margin-right: 70px;
        font-size: 17px;
        font-weight: 300;
    }
}