.grid-container{
    width: 100vw;
    height: 100vh;
    border: 1px dashed red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "login login login login login"
}
.login-bar{
    grid-area: login;
    border: 1px dashed blue;
    display: flex;
    justify-content: flex-end;
}