.grid-container{
    width: 100vw;
    height: 100vh;
    // border: 1px dashed red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "login login login login login"
    "nav nav nav nav nav"
    "main main main main main"
}
.login-area{
    height: 30px;
    grid-area: login;
    // border: 1px dashed blue;
    background-color: #161716;
    display: flex;
    justify-content: flex-end;
}
.nav-area{
    height: 55px;
    // border: 1px dashed green;
    // background-color: green;
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
}
.main-area{
    min-height: 94%;
    // border: 1px dashed salmon;
    // background-color: salmon;
    grid-area: main;
}