.grid-container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(0, 0, 10, 0.8),
        rgba(0, 0, 0, 0.8))
    ,url(../assets/img/bg-6.jpg);
    background-size: cover;
    // border: 1px dashed red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 55px 1fr;
    grid-template-areas:
    "login login login login login"
    "nav nav nav nav nav"
    "main main main main main"
}
.login-area{
    grid-area: login;
    // border: 1px dashed blue;
    background-color: #161716;
    display: flex;
    justify-content: flex-end;
}
.nav-area{
    // border: 1px dashed green;
    // background-color: green;
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
}
.main-area{
    max-height: 100%;
    // border: 1px dashed salmon;
    // background-color: salmon;
    grid-area: main;
}