.container{
    display: flex;
    justify-content: center;
    // margin-top: 180px;
    align-items: center;
    h1{
        font-weight: 700;
        font-size: 50px;
        // text-shadow: 4px 2px 8px #000;
    }
}